.background    { background-image: url(https://78.media.tumblr.com/ac8e5358e5a9502ba0cf8fcab37994dd/tumblr_ozhsbij6AG1t1jug0o1_540.png);
                 background-size: contain;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url(https://78.media.tumblr.com/e97917a2754c2494d311366435ed573f/tumblr_ozjgfaSgeH1t1jug0o1_540.png);
                        background-size: contain;}
.wall          { background-image: url(https://78.media.tumblr.com/f97aa086c66847c43f8e8ead7ccbd64f/tumblr_ozjegybEzJ1t1jug0o2_540.png);
                            background-size: contain; }
.wallbottom    { background-image: url(https://78.media.tumblr.com/4791c52af3964ebd5013bdec5edabe7f/tumblr_ozjegybEzJ1t1jug0o1_540.png);
                            background-size: contain; }
.cloud         { background: rgb(250, 250, 250); }
.portal          { background-image: url(https://78.media.tumblr.com/f38e155473d0ba26db980f5d98f0b7dd/tumblr_ozjfmbs4KH1t1jug0o1_540.png);
                            background-size: contain; }  


.actor  { position: absolute;  }
.coin   { background: url(https://78.media.tumblr.com/ac76a62e6e897d2930ec390137857bfe/tumblr_ozjf243v4T1t1jug0o1_540.png); 
                 background-size: contain;}
.player { background: url(https://78.media.tumblr.com/d43f210125093fc44c398d89d578b9ba/tumblr_ozjfgqSJ1R1t1jug0o1_540.png); 
                 background-size: contain;}
.star   { background-image: url(https://78.media.tumblr.com/47b25a81d80aefc4147f11e67f82a130/tumblr_ozjg2eQyMq1t1jug0o1_540.png);
				background-size: contain;}
.win    { background-image: url(https://78.media.tumblr.com/c6d52f874d7f4c688f8abd35638107f5/tumblr_ozjfteWU6D1t1jug0o1_540.png); 
				background-size: contain;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
